@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body{
	background-color: #ffff;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 18px;
	padding: 20px;
	margin: 0;
	max-width: 1290px;
	margin: auto;
}

#welcome{
	text-align: left;
	/*background-image: url('/img/geemail.gif');
	background-repeat: no-repeat;
	background-position: top-left;
	display: inline-block;
	align: left;*/
}

/*.target{
	display: none;
}*/

div.body{
	display: none;
}

div.body.show{
	display: block;
	text-align: center;
	align-content: center;
	margin-right: 40px;
}

#main{
	background-color: rgba(230, 230, 230, 0.3);
	width: 100%;
	height: auto;
}

div.main{
	display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: initial;
}

div.date{
	display: inline-table;
	width:auto;
	/*margin: 0 2em 0 8em;*/
	text-align: right;
	align-content: left;
	margin-left: 380px;
	}
div.sender{
	display: inline-table;
	margin: 0 0 0 3em;
	width:auto;
	text-align: left;
	align-content: left;
}
div.subject{
	display: inline-table;
	width: auto;
	margin: 0 0 0 5em;
	text-align: center;
	align-content: left;
}

div.email{
	border-bottom-style: solid;
	border-width: thin;
	border-bottom-color: #7a7a7a;
	display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: initial;
}

#welcome{
	background-color: #31c7c9;
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
}
