@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body{
	background-color: #ffff;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #808080;
	padding:0;
	max-width: auto;
	margin: 0;
}

#welcome{
	background: #30c0c2;
	background: -webkit-linear-gradient(#30c0c2,#4adfe1);
	background: -o-linear-gradient(#30c0c2,#4adfe1);
	background: -moz-linear-gradient(#30c0c2,#4adfe1);
	background: linear-gradient(#30c0c2,#4adfe1);
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inbox{
	display: inline-block;
	margin: 10px 40px 10px 200px;
	padding: 2px;
	border-radius: 7px 20px;
	background-color: #4ae4a5;
	color:#f7fffc;
	height: 30px;
	width: 80px;
	text-align: center;
	border-bottom-style: inset;
	border-color: #c8c8c8;
}

div.body{
	display: none;
}

div.body.show{
	display: inline-block;
	text-align: center;
}


div.main{
	/*display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: initial;*/
    background-color: rgba(230, 230, 230, 0.3);
	width: auto;
	height: auto;
	overflow: scroll;
}

div.email{
	border-bottom-style: solid;
	border-width: thin;
	border-bottom-color: #e6e6e6;
	/*display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: initial;*/
    margin: 0px 250px 5px 250px;
    padding: 3px 0 3px 0;
}

div.date, div.subject, div.sender{
	-webkit-column-rule-width:5px;
	column-count:3;
	column-gap: 20px;
	display: inline-block;
	height: auto;
	text-align: center;
	margin: 0 10px 0 10px;
	padding: 0 20px 0 20px;
}

@keyframes move-twink-back{
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-webkit-keyframes move-twink-back{
	from {background-position: 0 0;}
	to {background-position: -1000px 2000px;}
}

@-moz-keyframes move-twink-back{
	from{background-position: 0 0;}
	to{background-position: -10000px 3000px;}
}

@-ms-keyframes move-twink-back{
	from{background-position: 0 0;}
	to{background-position: -1000px 4000px;}
}

.stars, .twinkling{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100px;
	display: block;
}

.stars{
	background: #000 url("/img/starrynight.png") repeat top center;
	z-index: 0;
}

.twinkling{
	background: transparent url("/img/twink.png") repeat top center;
	z-index:2;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}