@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body{
	background-color: #ffff;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 20px;
	margin: 0;
	max-width: 1290px;
	margin: auto;
}

#welcome{
	text-align: left;
	background-image: url('/img/geemail.gif');
	background-repeat: no-repeat;
	background-position: top-left;
	display: inline-block;
	align: left;
}
#welcomemsg{
	margin-top: 70px;
}